* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #151618;
  -webkit-clip-path: circle(10% at 0 10);
          clip-path: circle(10% at 0 10);
}

.color-changer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  background-color: white;
  color: black;
}

#indicator {
  --scroll: 0%;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(0, transparent));
  background: linear-gradient(to right, red var(--scroll), transparent 0);
  position: fixed;
  width: 100%;
  height: 2px;
  top: 0px;
  z-index: 100;
}

.mr-1 {
  margin-right: 0.3em;
}

.ml-1 {
  margin-left: 0.3em;
}

.mb-1 {
  margin-bottom: 0.6em;
}

.pd-1 {
  padding: 0 0 0 0.5em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  padding: 0.8em 0;
}

header .contact {
  padding: 0.5em 1em;
  float: right;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  outline: none;
  background-color: #232529;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .contact:hover {
  cursor: pointer;
  border: 1px solid white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 352px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 352px, 0px);
  }
  50% {
    clip: rect(350px, 352px, 352px, 0px);
  }
  75% {
    clip: rect(0px, 352px, 352px, 350px);
  }
}

@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 352px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 352px, 0px);
  }
  50% {
    clip: rect(350px, 352px, 352px, 0px);
  }
  75% {
    clip: rect(0px, 352px, 352px, 350px);
  }
}

main {
  margin: 8em 0;
}

main .columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
}

main .columns .bb {
  position: relative;
  width: 320px;
  height: 320px;
  background: url("./assets/image/newAwais.jpg") no-repeat 50%/100% rgba(0, 0, 0, 0.1);
  color: red;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}

main .columns .bb::before, main .columns .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
  margin: -5%;
  -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
  -webkit-animation: clipMe 8s linear infinite;
          animation: clipMe 8s linear infinite;
}

main .columns .bb::before {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

main .columns .info .name {
  font-size: clamp(1.5em, 3vw, 2.5em);
  text-transform: uppercase;
}

main .columns .info .work {
  font-size: clamp(0.9em, 2vw, 2.5em);
  color: red;
}

main .columns .info .about {
  margin-bottom: 1em;
  opacity: 0.7;
}

main .columns .info .about::after {
  content: '"';
}

main .columns .info .about::before {
  content: '"';
}

main .columns .info .been-working {
  margin-bottom: 1em;
  font-weight: normal;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.skill-js,
.skill-react,
.skill-node,
.skill-express,
.skill-mongo,
.skill-html,
.skill-cpp,
.skill-context-api,
.skill-jwt,
.skill-material-ui,
.skill-sockets,
.skill-angular,
.skill-redux,
.skill-lazy-load {
  border-radius: 20px;
  padding: 0.4em 1em;
}

.skill-js {
  background-color: #959e14;
}

.skill-react {
  background-color: #444242;
}

.skill-redux {
  background-color: #258383;
}

.skill-node {
  background-color: #3eac0b;
}

.skill-express {
  background-color: #396f9b;
}

.skill-lazy-load {
  background-color: #399b7a;
}

.skill-mongo {
  background-color: #f7a206;
}

.skill-html {
  background-color: #742874;
}

.skill-cpp {
  background-color: #137c62;
}

.skill-context-api {
  background-color: #8cc424;
}

.skill-jwt {
  background-color: #194b5f;
}

.skill-material-ui {
  background-color: #eed462;
}

.skill-sockets {
  background-color: #441e53;
}

.skill-angular {
  background-color: #7c3913;
}

.inView {
  -webkit-animation: fadeIn 0.3s ease-in;
          animation: fadeIn 0.3s ease-in;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
    -webkit-transform: translateY(1.5rem);
            transform: translateY(1.5rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#projects .title h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
  width: 150px;
  border-bottom: double;
  margin: 0 auto;
}

#projects .cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  margin: 5em 0;
}

#projects .cards .card {
  padding: 0.4em 0.4em 0em 0.4em;
  width: 330px;
  border-radius: 20px;
  height: auto;
  background-color: #232529;
  overflow: visible;
  margin-bottom: 3em;
}

@media only screen and (max-width: 767px) {
  #projects .cards .card {
    width: 310px;
  }
}

#projects .cards .card:hover .card_image {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

#projects .cards .card .card_title {
  padding: 1em;
}

#projects .cards .card .card_image {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

#projects .cards .card .card_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0 1.5em 1em;
}

#projects .cards .card .card_footer .source_code {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid white;
}

#projects .cards .card .card_footer i {
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#projects .cards .card .card_footer i:hover {
  opacity: 0.5;
}

#projects .cards .card .card_footer .live {
  padding: 0.2em 1em;
  border-radius: 10px;
  background-color: #151618;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#projects .cards .card .card_footer .live:hover {
  opacity: 0.5;
}

/* Contact Section */
#contact {
  padding: 1rem;
  margin: 5rem 0;
}

#contact .title {
  font-size: clamp(2rem, 5vw, 2.8rem);
}

#contact img {
  width: clamp(310px, 40vw, 500px);
}

#contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .contact-container .content {
  padding-bottom: 2rem;
}

#contact .contact-container .content > * {
  margin: 0 1rem;
  text-align: center;
  padding: 0.7rem 0;
}

#contact .contact-container .content .feelFree {
  text-align: center;
  line-height: 1.5rem;
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: normal;
  opacity: 0.6;
}

#contact .contact-container .content .whatsapp,
#contact .contact-container .content .email {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: normal;
}

#contact .contact-container .content .whatsapp .email_text,
#contact .contact-container .content .whatsapp .whatsapp_num,
#contact .contact-container .content .email .email_text,
#contact .contact-container .content .email .whatsapp_num {
  opacity: 0.6;
}

#contact .contact-container .content .phone i {
  color: #6c3dee;
}

#contact .contact-container .content .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact-container .content .social-icons .fab {
  color: white;
}

#contact .contact-container .content .social-icons a {
  font-size: 2rem;
  margin: 0 1rem;
}

#contact .contact-container .content .social-icons a:hover {
  background-color: transparent;
}

#contact .contact-container .content .social-icons i:hover {
  opacity: 0.6;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

@media screen and (min-width: 600px) {
  #contact .content > * {
    text-align: left;
  }
  #contact .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (max-width: 960px) {
  main {
    margin: 5em 0;
  }
  main .columns .bb {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
  }
  main .columns .info {
    text-align: center;
  }
  main .columns .info .skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */