.mainContainer {
    overflow: hidden;
    color: #fff;
    background: #0a0f1c;
}

.avatar {
    border-radius: 50% 50% 46% 54% / 51% 47% 53% 49%;
    background: url('../../assets/awais.jpg');
    background-size: cover;
}
