.mainContainer {
    overflow: hidden;
    color: black;
}

.avatar {
    border-radius: 50% 50% 46% 54% / 51% 47% 53% 49%;
    background: url('../../assets/awais.jpg');
    background-size: cover;
}

.dynamicIsland {
    padding: 10px 20px;
    background: black;
    border-radius: 30px;
    font-weight: bold;
    color: white;
}
