@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: local('Lato'), url(./fonts/Lato-Light.ttf) format('opentype');
}
